<div class="head">
  <div class="col-sm-8">
    <h2 class="title">A survey based project </h2>
    <h5 class="subTitle">
      In this template you add questions for the contributor to answer .<br>
      The results of this project will be displayed as a chart for each question showing the percentage of yes and no answers to the question.
    </h5>
  </div>
  <div class="col-sm-offset-1 col-sm-3 artimg">
    <img src="../../../images/add.png" alt="add" />
  </div>
</div>

<div class="content">
  <div ng-switch on="selection">

          <!-- First Step -->
          <div ng-switch-when="Basic Info">

            <div class="container">
              <div class="col-sm-8 col-md-8" id="form-container" >

                <form id="signup-form" name="basicinfo">

                  <div class="form-group-custom">
                    <div class="row">
                      <div class="col-sm-3">
                        <p class="form-label">Project Image</p>
                      </div>
                      <div class="col-sm-9">

                        <div class="project-img-container" ngf-drop ngf-select required ng-model="mainImage" ngf-change="getBase64($file)" name="image" ngf-pattern="'image/*'"   ngf-accept="'image/*'" ngf-max-size="10MB">
                          <img class="col-sm-12 container-fluid project-img" ngf-src="mainImage" alt="project image"/>
                        </div>

                        <div>
                          <span id="choose-text">Choose an image</span>
                          <span id="drop-text">Or Drag & drop </span>
                        </div>

                      </div>
                    </div>
                  </div>

                  <div class="form-group form-group-custom">
                      <div class="row">
                        <div class="col-sm-3">
                          <p class="form-label">Project Title</p>
                        </div>
                        <div class="col-sm-9">
                          <input type="text" class="form-control basic-input" maxlength="60" name="name" required ng-minlength ="4" ng-maxlength ="60" ng-model="projectData.name">
                          <span class="input-counter"> {{60 - projectData.name.length}} / 60</span>
                        </div>
                      </div>
                      <div class="form-error col-sm-9 col-sm-offset-3 ">
                          <span class="alert alert-danger" role="alert" ng-show="basicinfo.name.$error.required && basicinfo.name.$touched">Please enter a name</span>
                          <span class="alert alert-danger" role="alert" ng-show="basicinfo.name.$error.minlength"> Minimum length required is 4 </span>
                          <span class="alert alert-danger" role="alert" ng-show="basicinfo.name.$error.maxlength"> maximum length required is 60 </span>
                      </div>
                  </div>


                  <div class="form-group form-group-custom">
                      <div class="row">
                        <div class="col-sm-3">
                          <p class="form-label">Short Bio</p>
                        </div>
                        <div class="col-sm-9">
                          <div>
                            <textarea type="text" rows="6" cols="40" class="form-control basic-input" name="shortBio" required maxlength="135" ng-maxlength ="135" ng-model="projectData.brief_description"></textarea>
                            <span class="input-counter-textarea pull-right">{{135 - projectData.brief_description.length}} / 135</span>
                          </div>
                          <div class="form-text-helper">
                            This short description is what apears in the project card, try to be specific in describing what you're creating.
                          </div>

                        </div>
                      </div>
                      <div class="form-error col-sm-9 col-sm-offset-3 ">
                          <span class="alert alert-danger" role="alert" ng-show="basicinfo.shortBio.$error.required && basicinfo.shortBio.$touched"> You forget to write a description </span>
                          <span class="alert alert-danger" role="alert" ng-show="basicinfo.shortBio.$error.maxlength"> maximum length required is 135 </span>
                      </div>

                  </div>

                  <div class="form-group form-group-custom" id="selectCategory">
                    <div class="row">
                      <div class="col-sm-3">
                        <p class="form-label">Category</p>
                      </div>
                      <div class="col-sm-9">
                        <select required ng-model="projectData.category_id" name="category">
                            <option  disabled hidden style='display: none' value=''>select a categoty</option>
                            <option  value="category::1" >Art</option>
                            <option  value="category::2" >Biology</option>
                            <option  value="category::3" >Economics</option>
                            <option  value="category::4" >Health</option>
                            <option  value="category::5" >Music</option>
                            <option  value="category::6" >Science</option>
                            <option  value="category::7" >Social</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-error col-sm-9 col-sm-offset-3 ">
                      <span class="alert alert-danger form-error" role="alert" ng-show="basicinfo.category.$error.required && basicinfo.category.$touched"> This is a required field </span>
                    </div>
                  </div>

                  <div class="form-group form-group-custom" >
                    <div class="row">
                      <div class="col-sm-3">
                        <p class="form-label form-label-small">Number of Contributions</p>
                      </div>
                      <div class="col-sm-9">
                        <input type="number" min="1" class="form-control basic-input" name="goal" required ng-model="projectData.goal">
                      </div>
                    </div>
                    <div class="form-error col-sm-9 col-sm-offset-3 ">
                      <!-- <span class="alert alert-danger form-error" role="alert"  ng-show="basicinfo.goal.$error.required && basicinfo.goal.$touched"> This is a required field </span> -->
                      <!-- <span class="alert alert-danger form-error" role="alert"  ng-show="basicinfo.goal.$error.number ">  Not valid number ! </span> -->
                      <span class="alert alert-danger form-error" role="alert"  ng-show="basicinfo.goal.$invalid && basicinfo.goal.$touched"> please enter a valid number!</span>
                    </div>
                  </div>
                  <button type="button" ng-click="incrementStep();survey();createdAt()" name="next" ng-disabled="basicinfo.$invalid" class="pull-right btn btn-lg btn-contribute">next step</button>
                </form>

              </div>
            </div>

          </div>

          <!-- Second Step -->
          <div ng-switch-when="Story">
            <div class="container">
              <div class="col-sm-8 col-md-8" id="form-container" >
                <form id="signup-form" name="story">

                  <div class="row">

                    <div class="col-sm-3">
                      <p class="form-label">Project Description</p>
                    </div>

                    <div class="col-sm-9">
                      <div text-angular ta-toolbar-class="btn-toolbar rich-text" ta-toolbar-group-class="btn-group rich-text-btns" ta-toolbar-button-class="btn btn-default rich-text-btn" ta-toolbar-button-active-class="active-btn" ta-toolbar="[['h1','h2','h3','p'],['bold','italics','ul','ol'],['insertLink','insertImage','insertVideo']]" ng-model="projectData.detailed_description" required></div>
                      <div class="form-text-helper">
                        Describe what are you making an why should people contribute in your project, make ever word count :)
                      </div>
                    </div>

                    <div>
                  </div>
                </div>
                <button  type="button" name="prev" ng-click="decrementStep();" class="pull-left btn btn-lg btn-contribute"> Previous Step</button>
                <button  type="button" name="next" ng-click="incrementStep();convertHtml()" ng-disabled="story.$invalid"  class="pull-right btn btn-lg btn-contribute"> Next step</button>
              </form>
            </div>
          </div>

        </div>

          <!-- Third Step -->
          <div ng-switch-when="Assets">
            <div class="container">
              <div class="col-sm-8 col-md-8" id="form-container" >

                <form id="signup-form" name="assets">

                  <div class="form-group form-group-custom">
                      <div class="row">
                        <div class="col-sm-3">
                          <p class="form-label">Question Title</p>
                        </div>
                      <div class="col-sm-9">
                        <div ng-controller="addQuesCtrl">

                          <div ng-repeat="question in questions">
                            <input class="form-control basic-input multi-input" type="text" required name="questionTitle" ng-model="question.title"/>
                            <button class="remove pull-right" ng-show="$last && !$first" ng-click="removeQuestion()"><i class="fa fa-times"></i></button>
                            <div class="form-text-helper" ng-show="$last" >
                              Add the questions you want to ask the contibuters!
                              <br> <span style="font-weight: 300; padding:4px;">Example : "Do you like mohamed salah?"</span>
                            </div>
                          </div>

                          <button class="btn btn-default" ng-click="addNewQuestion()">Add another question</button>

                        </div>
                      </div>
                    </div>
                    <div class="form-error col-sm-9 col-sm-offset-3 ">
                        <span class="alert alert-danger" role="alert" ng-show="assets.questionTitle.$error.required && assets.questionTitle.$touched">Please enter a title!</span>
                    </div>
                  </div>
                  <div>
                    <button  ng-click="decrementStep();" type="button" name="prev" class="pull-left btn btn-lg btn-contribute">previous step</button>
                    <button  type="submit" name="submit" ng-disabled="assets.$invalid" class="pull-right btn btn-lg btn-contribute" ng-click="processForm()">submit</button>
                  </div>
                </form>
              </div>
            </div>


        </div>
</div>
