<div class="container">
  <div class="col-sm-8 col-md-8" id="form-container" >

    <form id="signup-form" name="assets">

      <div class="form-group form-group-custom">
        <div class="row">
          <div class="col-sm-3">
            <p class="form-label">Image Title</p>
          </div>
          <div class="col-sm-9">
            <input type="text" class="form-control basic-input" name="imageTitle" required ng-model="projectData.templateBody.imageTitle">
            <div class="form-text-helper">
              What image you need from the contibuters at thier location?
              <br> <span style="font-weight: 300; padding:4px;">Example : "Take a photo of road accidents you witness!"</span>
            </div>
          </div>

        </div>
        <div class="form-error col-sm-9 col-sm-offset-3 ">
            <span class="alert alert-danger" role="alert" ng-show="addProjectForm.imageTitle.$error.required && addProjectForm.imageTitle.$touched">Please enter a title!</span>
        </div>
        <div>
          <button  ui-sref="addlocpic.story" type="button" name="prev" class="pull-left btn btn-lg btn-contribute">previous step</button>
          <button  type="submit" name="submit" ng-disabled="assets.$invalid" class="pull-right btn btn-lg btn-contribute" ng-click="processForm()">submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
