<div class="container">
  <div class="col-sm-8 col-md-8" id="form-container" >

    <form id="signup-form" name="addProjectForm">

      <div class="form-group-custom">
        <div class="row">
          <div class="col-sm-3">
            <p class="form-label">Project Image</p>
          </div>
          <div class="col-sm-9">

            <div ng-controller="imgCtrl" class="project-img-container" ngf-drop ngf-select required ng-model="projectData.mainImage" ngf-change="getBase64($file)" name="image" ngf-pattern="'image/*'"   ngf-accept="'image/*'" ngf-max-size="10MB">
              <img class="col-sm-12 container-fluid project-img" ngf-src="projectData.mainImage" alt="project image"/>
            </div>

            <div>
              <span id="choose-text">Choose an image</span>
              <span id="drop-text">Or Drag & drop </span>
            </div>

          </div>
        </div>
      </div>

      <div class="form-group form-group-custom">
          <div class="row">
            <div class="col-sm-3">
              <p class="form-label">Project Title</p>
            </div>
            <div class="col-sm-9">
              <input type="text" class="form-control basic-input" maxlength="60" name="name" required ng-minlength ="4" ng-maxlength ="60" ng-model="projectData.name">
              <span class="input-counter"> {{60 - projectData.name.length}} / 60</span>
            </div>
          </div>
          <div class="form-error col-sm-9 col-sm-offset-3 ">
              <span class="alert alert-danger" role="alert" ng-show="addProjectForm.name.$error.required && addProjectForm.name.$touched">Please enter a name</span>
              <span class="alert alert-danger" role="alert" ng-show="addProjectForm.name.$error.minlength"> Minimum length required is 4 </span>
              <span class="alert alert-danger" role="alert" ng-show="addProjectForm.name.$error.maxlength"> maximum length required is 60 </span>
          </div>
      </div>


      <div class="form-group form-group-custom">
          <div class="row">
            <div class="col-sm-3">
              <p class="form-label">Short Bio</p>
            </div>
            <div class="col-sm-9">
              <div>
                <textarea type="text" rows="6" cols="40" class="form-control basic-input" name="shortBio" required maxlength="135" ng-maxlength ="135" ng-model="projectData.briefDescription"></textarea>
                <span class="input-counter-textarea pull-right">{{135 - projectData.briefDescription.length}} / 135</span>
              </div>
              <div class="form-text-helper">
                This short description is what apears in the project card, try to be specific in describing what you're creating.
              </div>

            </div>
          </div>
          <div class="form-error col-sm-9 col-sm-offset-3 ">
              <span class="alert alert-danger" role="alert" ng-show="addProjectForm.shortBio.$error.required && addProjectForm.shortBio.$touched"> You forget to write a description </span>
              <span class="alert alert-danger" role="alert" ng-show="addProjectForm.shortBio.$error.maxlength"> maximum length required is 135 </span>
          </div>

      </div>

      <div class="form-group form-group-custom" id="selectCategory">
        <div class="row">
          <div class="col-sm-3">
            <p class="form-label">Category</p>
          </div>
          <div class="col-sm-9">
            <select required ng-model="projectData.categoryId" name="category">
                <option  disabled hidden style='display: none' value=''>select a categoty</option>
                <option  value="1" >Art</option>
                <option  value="2" >Biology</option>
                <option  value="3" >Economics</option>
                <option  value="4" >Health</option>
                <option  value="5" >Music</option>
                <option  value="6" >Science</option>
                <option  value="7" >Social</option>
            </select>
          </div>
        </div>
        <div class="form-error col-sm-9 col-sm-offset-3 ">
          <span class="alert alert-danger form-error" role="alert" ng-show="addProjectForm.category.$error.required && addProjectForm.category.$touched"> This is a required field </span>
        </div>
      </div>

      <div class="form-group form-group-custom" >
        <div class="row">
          <div class="col-sm-3">
            <p class="form-label form-label-small">Number of Contributions</p>
          </div>
          <div class="col-sm-9">
            <input type="number" min="1" class="form-control basic-input" name="goal" required ng-model="projectData.goal">
          </div>
        </div>
        <div class="form-error col-sm-9 col-sm-offset-3 ">
          <!-- <span class="alert alert-danger form-error" role="alert"  ng-show="addProjectForm.goal.$error.required && addProjectForm.goal.$touched"> This is a required field </span> -->
          <!-- <span class="alert alert-danger form-error" role="alert"  ng-show="addProjectForm.goal.$error.number ">  Not valid number ! </span> -->
          <span class="alert alert-danger form-error" role="alert"  ng-show="addProjectForm.goal.$invalid && addProjectForm.goal.$touched"> please enter a valid number!</span>
        </div>
      </div>

      <button  ui-sref="addlocpic.story" type="button" name="next" ng-disabled="addProjectForm.$invalid" class="pull-right btn btn-lg btn-contribute">next step</button>
    </form>

  </div>
</div>
