/* Fonts
============================================================================= */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,900,700,500);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300);

/* ============================================================================= */

/* Global Styles */

body {
  font-family: 'Roboto', sans-serif;
  background: #ecf2f6;
  margin-top: 183px;
  overflow-x: hidden;
}
hr{
    background-color: #ecf2f6;
}
@media(min-width:768px) {
    body {
        margin-top: 61px;


    }
}
textarea{
  resize: vertical;
}
.navbar-fixed-top {
  position: fixed!important;
}
@media(min-width:768px) {
  .navbar-fixed-top {
    position: absolute!important;
  }
}
#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 70px;
    }

    #page-wrapper {
        padding: 10px;
    }
}

/* Top Navigation */
.navbar-toggle{
  background-color:#4c637b;
}
.navbar-brand{
  margin-left: -5px;
  margin-top: -9px;
}
.logo{
  width: 70px;
  height: 61px;
  background-color: #344c67;
}
@media(min-width:768px) {
    .navbar-header{
      background: #344c67;
      width: 70px;
      height: 60px;
    }
}

.custom-nav{
  background-color: #ecf2f6;

}
.top-nav {
    height: 60px;
    padding: 0 15px;

}

.search-input{
  background-color: #fff;
  border-color:#ecf2f6;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.search-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #b8c6d6;
}
.search-input::-moz-placeholder { /* Firefox 19+ */
  color: #b8c6d6;
}
.search-input:-ms-input-placeholder { /* IE 10+ */
  color: #b8c6d6;
}
.search-input:-moz-placeholder { /* Firefox 18- */
  color: #b8c6d6;
}
.search-nav{

}

.top-nav>li>a>img{
  margin-right: 10px;
}
@media(min-width:768px) {
  .search-nav{
    margin-top: 6px;
    margin-left: 43px;
  }
  .navbar-form .form-control{
    width: 350px;
  }
  .top-nav>li>a {
      margin-right: 50px;
      padding-top: 12px;
      padding-bottom: 15px;
      line-height: 20px;
      color: #4c637b;
  }
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    font-weight: 500;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #4c637b;
}
@media(min-width:768px) {
.top-nav>li>a {
    font-weight: 500;
    margin-right: 50px;
    padding-top: 12px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #344c67;
  }
}
.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #5c7794;
    background-color: inherit;
}
.dropdown a{
  cursor: pointer;
}
.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: -10px;
    border: none;
    border-radius:5px;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(184,198,214,.5);
    box-shadow: 0 6px 12px rgba(184,198,214,.5);
    right: 50px;
}
.top-nav>.open>.dropdown-menu>li>a {
    font-family: 'Roboto', sans-serif;
    white-space: normal;
    padding: 12px 8px;
    color:#344c67;

}
.top-nav>.open>.dropdown-menu>li>a:focus,
.top-nav>.open>.dropdown-menu>li>a:hover {
    background-color:#f0f5f8;
}

.top-nav>.open>.dropdown-menu li:first-child a:after {
    content: '';
    position: absolute;
    left: 120px;
    top: -7px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 8px solid #fff;
}


/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 0px;
        left: 225px;
        width: 70px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #4c637b;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav li{
      margin-top: 10px;
      margin-left: 10px;
    }
    .side-nav li:nth-child(2) {
      margin-top: 20px;
    }
    .side-nav>li>a {
      color: #b8c6d6;
      margin-right: 10px;
      font-size: 20px;
      cursor: pointer;
    }
    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        border-radius: 2px;
        background-color: #344c67;
        color: #fff;
    }

    .side-nav .active{
      width: 50px;
      border-radius: 2px;
      background-color: #344c67;
      color: #fff;
    }
    .active a{
      color: #fff;
    }
    .tooltip{
      position: fixed;
      z-index: 99999;
    }
}


.head{
  background-color: #fff;
  color:#344c67;
}
.title{
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  padding-left: 35px;
}
.subTitle{
  margin-top: -8px;
  padding-left: 35px;
  font-size:12px;
  line-height: 20px;
}
.artimg img{
display: none;
}
@media(min-width:768px) {
  .head{
    height: 240px;
  }
  .title{
    padding-top: 30px;
    padding-left: 45px;
    font-size: 40px;
  }
  .subTitle{
    padding-top: 15px;
    padding-left: 48px;
    font-size:15px;
  }
  .artimg img{
    display: block;
    height: 150px;
    margin-top: 30px;
  }
}
.sub-nav{
  color:#344c67;
  margin-top: -28px;
  margin-left: 60px;
  border-bottom: none;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
}

#status-buttons a{
  padding-bottom:5px;
  color:#99aabc;
  display:inline-block;
  font-size:12px;
  margin-right:35px;
  text-align:center;
  text-transform:uppercase;
  text-decoration:none;
  border-bottom: #fff solid 3px;
}
#status-buttons a:hover{
  border-bottom: #70cbf6 solid 3px;
}

/* active buttons */
#status-buttons a.active {
  color:#344c67;
  border-bottom: #70cbf6 solid 3px;
}

.cards{
  margin-top: 50px;
}
.card{
  padding-bottom: 15px;
  background-color: #fff;
  border-color: #fff;
  border-radius: 6px;
  -webkit-box-shadow: 0 2px 3px rgba(184,198,214,.5);
  box-shadow: 0 2px 4px rgba(184,198,214,.5);
}

.card:hover,.card:focus {
  text-decoration: none;
}
.card-title{
  margin-top: 12px;
  padding:0px 8px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  color:#344c67;
  font-size: 18px;
}
.card-subheader{
  margin-top: -3px;
  padding:0px 8px;
  color:#99aabc;
  font-size: 12px;
}
.card-txt{
  padding:0px 8px;
  color: #616f7f;
  font-size: 13px;
}
.more-info{
  color: #99aabc;
  margin-top: -15px;
  margin-bottom: 45px;
  padding:0px 10px;
}
.type span{
  padding: 5px;
}
.info span {
padding: 5px;
}
.progress{

  margin-right: 6px;
  margin-left: 6px;
  height: 8px;
  border-radius:2px;
  background-color: #b8c6d6;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;

}
.progress-bar-success{
  background-color: #2cc36b;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.remain{
  margin-top: -10px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  padding:0px 8px;
  color: #99aabc;
  font-size: 13px;
}

/* templates add */
.template-title{
  color:#344c67;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 40px;

}
.template-subtitle{
  color:#344c67;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin-top:20px;
  margin-bottom:10px;
}
@media(min-width:768px) {
  #template-hr{
    width: 450px;
  }
}
@media(min-width:980px) {
  #template-hr{
    width: 650px;
  }
}
.template-cards{
  margin-top: -30px;
}
.template{
  margin-top: 15px;
  background-color: #ecf2f6;
  border-color: #ecf2f6;
  border-radius: 8px;
}
.template:hover{
  text-decoration: none;
}

.template-image{
  margin-top: 30px;
}

.template-txt{
  color:#344c67;
  font-family: 'Roboto' , sans-serif;
  font-size: 18px;

}
.modal-header{
  border: none;
}
.close{
  font-size: 30px;
  color:#99aabc;
  opacity: 1;
}
.close:hover{
  color: red;
}
.enroll-btns{
margin-top: 70px;
margin-left: 55px;
}
.btn-circle{
  border-radius: 50px;
  background-color: #2cc36b;
  width: 47px;
  color: #fff;
  transition: all 0.2s ease;
}
.btn-circle:hover, .btn-circle:focus{
  background-color: #e74c3e;
  color: #fff;
}

.btn-circle:hover .icon-unlock,.btn-circle:focus .icon-unlock,
.btn-circle .icon-lock {
    display: none;
}
.btn-circle:hover .icon-lock, .btn-circle:focus .icon-lock{
    display: inline;

}
.btn-contribute{
  background-color: #4c637b;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  width: 160px;
  margin-left: 20px;
  letter-spacing: 1px;
}
.btn-contribute:hover,.btn-contribute:focus{
  background-color: #344c67;
  color:#fff;
}
.share {
  font-size: 25px;
  margin-top: 30px;
  margin-left: 24px;
}
.share ul li{
  display: inline;
  padding-right: 12px;
  padding-left: 8px;
  border-right: 1px solid #ecf2f6 ;
}
.share ul li:first-child{
    padding-left: 0px;
}
.share ul li:last-child{
  border-right: 0px ;
}

#facebook a{color: #3b5999;}
#twitter a{color: #55acee;}
#google a{color: #DC4E41;}
#linkedin a{color: #0077B5;}
#pinterest a{color: #bd081c;}

#facebook a:hover{color: #324a80;}
#twitter a:hover{color: #4c99d4;}
#google a:hover{color: #c2453a;}
#linkedin a:hover{color: #00659c;}
#pinterest a:hover{color: #a30719;}



.about{
  background-color: #fff;
  margin-top: 50px;
  margin-left: 22px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.about-sidbar{
  background-color: #fff;
  margin-top: 30px;
  margin-left: 22px;
  height: 500px;
  border-radius: 5px;
}
@media(min-width:768px){
  .about-sidbar{
    background-color: #fff;
    margin-top: 50px;
    margin-left: 45px;
    height: 500px;
    border-radius: 5px;
  }
}
.about-header{
  background-color: #4c637b;
  height: 60px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  position: absolute;
  margin-left: -15px;
  width: 100%;
}

.about-header-title{
  margin: 22px 0px 0px 25px;
  font-family: 'Roboto' , sans-serif;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
}

/*------------------ rich text -----------------*/
.rich-text-div {
  margin-top: 90px;
  background-color: #fff;
  padding:0px 25px 0px 25px;
  color: #344c67;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  /*overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;*/
}
.rich-text-div h1{
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 600;
}
.rich-text-div h2{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 500;
}
.rich-text-div h3{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.rich-text-div p{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}
.rich-text-div a {
  color: #70cbf6;
}
.rich-text-div img{
  width: 100%;
}
.rich-text-div iframe{
  width: 100%;
  height: 200px;
}
@media(min-width:450px) and (max-width:768px){
  .rich-text-div iframe{
    width: 100%;
    height: 300px;
  }
}
@media(min-width:768px) {

  .rich-text-div iframe{
    height: 400px;
  }
}

.section-name{
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 20px;
  margin-left:20px;
  font-size: 18px;
  font-weight: 400;
  color: #344c67;
}
.inspired{
  margin-top: 30px;
  color: #fff;
  height: 350px;
  background-repeat: no-repeat;
  background-image: url("../images/startproject.png");
  background-size:100%;
}
.inspired-div{
  margin-top: 50px;
}
.inspired h3{
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  letter-spacing: 2px;
  font-weight: 700;
}
.inspired p{
  margin-top: 15px;
  font-size: 22px;
  font-weight: lighter;
}
.btn-start-project{
  margin-top: 20px;
  background-color: #4c637b;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  width: 160px;
  letter-spacing: 1px;
}
.btn-start-project:hover,.btn-start-project:focus{
  background-color: #344c67;
  color:#fff;
}


.carousel-caption h1{
  font-size: 15px;
  margin: 0px;
}

.carousel-caption p{
  font-family: 'roboto', sans-serif;
  line-height: 30px;
  font-weight: 300;
  margin-top: 20px;
  font-size: 17px;
  text-shadow:0 1px 2px rgba(0,0,0,.1);
  display: none;
}

.carousel-indicators li{
  background-color: rgba(255, 255, 255, .5);
  border: none;
}
.carousel-control.left{

}
.carousel-control.right{

}
.btn-slider{
  color: #fff;
  margin-top: 10px;
  background-color: #70cbf6;
  font-size: 10px;
  font-weight: 400;
  width: 98px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.btn-slider:hover,.btn-slider:focus{
  background-color: #51b7e6;
  color:#fff;
}

@media(min-width:768px){
  .carousel-caption h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    letter-spacing: 1px;
    text-shadow:0 1px 2px rgba(0,0,0,.1);
  }
  .carousel-caption p{
    display: block;
  }
  .btn-slider{
    margin-top: 20px;
    background-color: #70cbf6;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    width: 160px;
    letter-spacing: 1px;
    margin-bottom: 60px;
  }
  .btn-slider:hover,.btn-slider:focus{
    background-color: #51b7e6;
    color:#fff;
  }
}
@media(min-width:768px) and (max-width:980px){
  .carousel-caption h1{
    font-size: 40px;
  }
  .btn-slider{
    margin-top: 20px;
    background-color: #70cbf6;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    width: 160px;
    letter-spacing: 1px;
    margin-bottom: 20px;
  }
  .carousel-caption p{
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
    font-weight: 300;
    font-size: 14px;
  }
}
@media(min-width:450px) and (max-width:768px){
  .carousel-caption h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    letter-spacing: 1px;
    text-shadow:0 1px 2px rgba(0,0,0,.1);
  }
  .btn-slider{
    margin-top: 20px;
    background-color: #70cbf6;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    width: 160px;
    letter-spacing: 1px;
    margin-bottom: 30px;
  }
}
/*-----add--------*/
pre{
  margin-bottom:20px;
}
.project-img-container{
  border-radius: 5px;
  border: 2px dashed #ecf2f6;
  background-color: #f7fafa;
  height: 200px;
  cursor:pointer;
}
.project-img{
  height: 196px;
  background-repeat: no-repeat;
  z-index:2;
}
#choose-text{
  position: absolute;
  bottom: 105px;
  right: 210px;
  font-size: 15px;
  font-weight: bold;
  line-height: 14px;
  color: #99aabc;
  z-index: 1;
}

#drop-text{
  position: absolute;
  bottom: 75px;
  right: 228px;
  font-size: 13px;
  font-weight: 500;
  line-height: 14px;
  color: #99aabc;
  z-index: 1;
}
.remove{
  background: #cf584a;
  width: 28px;
  height: 28px;
  color: #FFF;
  font-weight: bold;
  font-size: 18px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  padding: 4px 5px;
  line-height: 100%;
  border-radius: 50%;
  margin-right: -15px;
  margin-top: -60px;
}
.remove:hover {
  background: #e74c3c;
}
.multi-input{
  margin-bottom: 20px;
}
.form-group-custom{
  margin-bottom: 50px;
}
.basic-input{
background-color: #f7fafa;
border-color:#ecf2f6;
-webkit-box-shadow: none !important;
-moz-box-shadow: none !important;
box-shadow: none !important;
}
.form-label{
color:#344c67;
margin-top: 4px;
font-size: 15px;
font-weight: 600;
}
.form-label-small{
margin-top: 0px;
font-size: 14px;
}
.input-counter{
position: absolute;
bottom: 10px;
right: 25px;
font-size: 12px;
font-weight: bold;
line-height: 14px;
color: #99aabc;
}
.input-counter-textarea{
position: absolute;
bottom: 65px;
right: 25px;
font-size: 12px;
font-weight: bold;
line-height: 14px;
color: #99aabc;
}
.form-error{
margin-top: 12px;
}
.alert.alert-danger{
font-size: 12px;
padding:8px;
}
/*.form-error-nummber{
margin-top: 20px;
}*/
/* form styling */
#form-container{
background:#fff;
padding: 40px;
margin-top:50px;
margin-left: 22px;
margin-bottom:20px;
border-radius:5px;
}
#selectCategory{
overflow:hidden;
}
#selectCategory select {
background-color: #f7fafa;
border-color:#ecf2f6;
height: 40px;
width: 510px;
-webkit-box-shadow: none !important;
-moz-box-shadow: none !important;
box-shadow: none !important;
}
.ta-editor{
background-color: #f7fafa;
border-color:#ecf2f6;
border-top-right-radius: 0px;
border-top-left-radius: 0px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
-webkit-box-shadow: none !important;
-moz-box-shadow: none !important;
box-shadow: none !important;
}
.rich-text{
padding-top: 6px;
margin-left: 1px;
border: 1px solid #ecf2f6;
background-color: #ecf2f6;
border-top-right-radius: 5px;
border-top-left-radius: 5px;
}
.rich-text-btns{
color:#99aabc;

}
.rich-text-btn{
border: none;
background-color: #ecf2f6;
color:#99aabc;
}
.rich-text-btn:hover{
background-color: #ecf2f6;
}

.btn-default.active{
padding-top: 5px;
border-top: 1px solid #99aabc;
border-right:1px solid #99aabc;
border-left:1px solid #99aabc;
background-color: #fff;
-webkit-box-shadow: none !important;
-moz-box-shadow: none !important;
box-shadow: none !important;
}
.form-text-helper{
margin-top: 10px;
margin-bottom: 10px;
font-size: 12px;
font-family: 'Roboto', sans-serif;
font-weight: 500;
color:#344c67;
}
